<template name="application_manager.ng.html">
    <div class="searchfor">
        Search For: <input type="text" ng-model="searchfor" animate-me/>
    </div>
    <div class="available_apps"> 
        <table border="0" cellpading="4" cellspacing="0">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Company</th>
                    <th>Author</th>
                    <th>App Name</th>
                    <th>Short Name</th>
                    <th>eMail</th>
                    <th>Version</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="InstallApp in homepage.availableApps | filter:searchfor" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td style="width: 1px;">
                        <input type="checkbox" 
                               ng-model="appStatus" value="[[ InstallApp._id ]]" 
                               ng-click="enableApp(InstallApp._id)" 
                               ng-checked="isInstallApp(InstallApp._id)"/>
                    </td>
                    <td>[[ InstallApp.company ]]</td>
                    <td>[[ InstallApp.author ]]</td>
                    <td>[[ InstallApp.appName ]]</td>
                    <td>[[ InstallApp.shortName ]]</td>
                    <td>[[ InstallApp.email ]]</td>
                    <td>[[ InstallApp.version ]]</td>
                </tr>
                <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat-end>
                    <td colspan="7">[[ InstallApp.description ]]</td>
                </tr>
            </tbody>
        </table>

    </div>

</template>