<template name="login.ng.html">
    <div class="loginTab">
        <div class="loginPanel">&nbsp;</div>
        <div id="roundrr_container" login>
            <div class="roundrr_center"></div>
            <ul class='list'>
                <li class='item'>	
                    <div class='my_class ui-corner-all'>
                        <img alt="Google" class="ui-corner-all" src="/img/apps/google-icon.png" title="Google"/>
                    </div>	
                </li>
                <li class='item'>	
                    <div class='my_class ui-corner-all'>
                        <img alt="Linkedin" class="ui-corner-all" src="/img/apps/linkedin-icon.png" title="Linkedin"/>
                    </div>
                </li>
                <li class='item'>	
                    <div class='my_class ui-corner-all'>
                        <img alt="Yahoo" class="ui-corner-all" src="/img/apps/yahoo-icon.png" title="Yahoo"/>
                    </div>	
                </li>
                <li class='item'>	
                    <div class='my_class ui-corner-all'>
                        <img alt="Facebook" class="ui-corner-all" src="/img/apps/facebook-icon.png" title="Facebook"/>
                    </div>	
                </li>
                <li class='item'>	
                    <div class='my_class ui-corner-all'>
                        <img alt="Twitter" class="ui-corner-all" src="/img/apps/twitter-icon.png" title="Twitter"/>
                    </div>	
                </li>
                <li class='item'>	
                    <div class='my_class ui-corner-all'>
                        <img alt="Vimeo" class="ui-corner-all" src="/img/apps/vimeo-icon.png" title="Vimeo"/>
                    </div>	
                </li>
            </ul>
        </div>
    </div>

    <div class="copyright">&copy;&nbsp;Copyright 2012 - 2015 5Searches LLC</div>
</template>