<div class="electronic_chat">
    <div class="chat_users ui-corner-all list">
        <div class="chat_users_search">
            <input ng-model="txtsearchuser" name="txtsearchuser" class="ui-corner-all" />
        </div>
        <ul class="list">
            <li ng-repeat="chat_user in (homepage.chat.chat_users | myfilter:homepage.chat.chat_user_details) | filter:txtsearchuser"
                class="item ui-corner-all" ng-click="updateselectedChatUser(chat_user._id)"
                ng-class="{'active': homepage.selectedActiveUser == chat_user._id}">
                <img ng-src="[[getUserDetail(chat_user).picture]]" alt="[[ getUserDetail(chat_user).name ]]"
                    style="height: 40px; width: 40px;" />
                <div class="name">[[ getUserDetail(chat_user).name ]]</div>
            </li>
        </ul>
    </div>
    <div class="chat_window">
        <div class="chat_msg ui-corner-all">
            <ul>
                <li class="chat_msg_text"
                    ng-repeat="chat_message in homepage.chat.chat_messages | filter:homepage.selectedActiveUser">
                    <span class="msg"
                        ng-class="(chat_message.from_user_id==homepage.user._id) ? 'triangle-right right' : 'triangle-isosceles left'">
                        [[ chat_message.message ]]
                    </span>
                </li>
            </ul>
        </div>
        <div class="chat_input ui-corner-all">
            <input type="text" name="chat_msg" placeholder="Enter Message" autocomplete="off" class="ui-icon-search"
                ng-model="homepage.chat.chat_msg" ng-keypress="sendChat($event)">
            <button title="Upload Image(s)" onclick="coming soon..." class="loadimg ui-corner-all" tool-tip>I</button>
            <button title="Clear Chat Screen" ng-click="clearChat(homepage.user._id, homepage.selectedActiveUser)"
                class="cleartext ui-corner-all" tool-tip>C</button>
        </div>
    </div>
</div>
